/* -------------------------------- 

Fonts

-------------------------------- */

@font-face {
	font-family: 'Avenir Next LT Pro Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir Next LT Pro Regular'), url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Avenir Next LT Pro Demi';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir Next LT Pro Demi'), url('../fonts/AvenirNextLTPro-Demi.woff') format('woff');
}
@font-face {
	font-family: 'Avenir Next LT Pro Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Avenir Next LT Pro Bold'), url('../fonts/AvenirNextLTPro-Bold.woff') format('woff');
}

/* -------------------------------- 

Main

-------------------------------- */

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family:'Avenir Next LT Pro Regular';
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, a, p, span {
	font-family:'Avenir Next LT Pro Regular';
	font-weight:normal;
	-webkit-font-feature-settings: 'kern' 1;
	-moz-font-feature-settings: 'kern' 1;
	-ms-font-feature-settings: 'kern' 1;
	-o-font-feature-settings: 'kern' 1;
	font-feature-settings: 'kern' 1;
	text-rendering: optimizelegibility;
	font-kerning: normal;
}
h1, h2, h3, h4, h5, h6 {
	color: #2683FF;
	letter-spacing: -1px;
}
h1 {
	font-size: 40px;
}
h1.title {
	margin-bottom: 1em;
}
b {
	font-family:'Avenir Next LT Pro Demi';
}
img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* -------------------------------- 

Header

-------------------------------- */

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 600px;
	top: 0;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
#particles-js2 {
	position: absolute;
	width: 100%;
	height: 420px;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.navbar-brand {
	padding: 0;
}
.logo {
    display: inline-block;
    margin: 12px 30px;
    width: 150px;
}

.menu {
	padding: 60px 0 40px;
    z-index: 3;
    background: none;
    border: none;
    margin: 0;
}

.navbar-default .navbar-toggle {
    border: 2px solid #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
    border-radius: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0;
}
.navbar-default .navbar-toggle:focus {
	background: none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active {
    background-color: #88C425;
}
.navbar-default .navbar-collapse.in{
    border-color: transparent;
    margin-top: 1em;
}
.navbar-collapse.in li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.navbar-nav {
    margin: 0 -15px;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 22px;
    text-align: center;
    font-family:'Avenir Next LT Pro Demi';
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: underline;
    background: none; 
}

.navbar-default .navbar-nav>li>a {
	display: inline-block;
	color: #fff;
	font-weight: bold;
	padding: 16px;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
}

.navbar-page {
	background: #144EBC;
	border: 0;
	border-radius: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#144ebc+0,185ee0+100 */
	background: #144ebc; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #144ebc 0%, #185ee0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#144ebc), color-stop(100%,#185ee0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #144ebc 0%,#185ee0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #144ebc 0%,#185ee0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #144ebc 0%,#185ee0 100%); /* IE10+ */
	background: linear-gradient(45deg,  #144ebc 0%,#185ee0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#144ebc', endColorstr='#185ee0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.navbar-page .navbar-nav>li>a {
	padding: 30px 16px;
	color: #AFD1FF;
}
.navbar-page .navbar-nav>li>a:hover {
	color: #fff;
}
.navbar-page .navbar-nav>li>a.active {
	color: #fff;
	background: #2683ff
}
.navbar-page .navbar-brand {
	margin: 15px 30px 15px 15px;
}
.navbar-page .logo {
	margin-left: 15px;
}
.navbar-page .navbar-toggle {
	margin-top: 22px;
    margin-right: 22px;
}

.header {
	min-height: 600px;
	background-color: #144EBC;
	background: url("../img/bg-home.jpg") top center no-repeat;
	background-size: cover;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.thankyou .header {
	min-height: 500px;
	background: #144EBC;
}

.headlines {
	padding-top: 1em;
	padding-bottom: 2em;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	padding: 1em;
}
.headlines h1 {
	font-size:42px;
	color: #fff;
}
.headlines p {
	padding-top: 10px;
	padding-bottom: 25px;
	max-width: 600px;
	font-size: 21px;
	margin: 0 auto;
	color: #fff;
}

.btn {
	font-family:'Avenir Next LT Pro Bold';
	font-size: 16px;
	border-radius: 25px;
	padding: 12px 55px 10px;
	border: 0;
	background: #2683FF;
	color: #FFF;
	z-index: 2;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	border-radius: 40px;
	max-width: 320px;
	outline: 0;
}
.btn:hover, .btn:focus {
	color: #fff;
	background: #173AE8;
	outline: 0;
}

.btn:focus, .btn:active:focus {
    outline: 0;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: 0;
}

.btn-green {
	border: 0;
	color: #fff;
	position: relative;
	background: #88C425;
	z-index: 2;
}
.btn-green:hover, .btn-green:focus {
	background: #91D127;
	outline: 0;
}

.btn-menu {
	margin-top:18px;
	padding: 12px 32px 10px;
}

.email {
	border-radius: 50px;
	padding: 14px 20px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 0;
	border: 0;
}

.email::-webkit-input-placeholder {
   color: #1478fb;
}

.email:-moz-placeholder { /* Firefox 18- */
   color: #1478fb;  
}

.email::-moz-placeholder {  /* Firefox 19+ */
   color: #1478fb; 
}

.email:-ms-input-placeholder {  
   color: #107fc9; 
   	-webkit-transition: all 250ms;
	-o-transition: all 250ms;
	transition: all 250ms; 
}
.subscribe {
    margin-top: 0;
    width: auto;
}

.cloud {
	position: fixed;
	top: 50px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.cloud-1 {
	left: 0;
	top: 70px;
}
.cloud-2 {
	right:0;
}


/* -------------------------------- 

Animated Headlines

-------------------------------- */

.cd-title {
  position: relative;
  height: 160px;
  line-height: 230px;
  text-align: center;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
  padding-right: 5px;
  padding-left: 5px;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}


.cd-headline.type .cd-words-wrapper {
  vertical-align: top;
  overflow: hidden;
}
.cd-headline.type .cd-words-wrapper::after {
  /* vertical bar */
    content: '';
    position: absolute;
    right: 0px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 90%;
    width: 3px;
    display: inline-block;
    margin-left: 15px;
    background-color: #fff;
}
.cd-headline.type .cd-words-wrapper.waiting::after {
  -webkit-animation: cd-pulse 1s infinite;
  -moz-animation: cd-pulse 1s infinite;
  animation: cd-pulse 1s infinite;
}
.cd-headline.type .cd-words-wrapper.selected {
  background-color: #fff;
}
.cd-headline.type .cd-words-wrapper.selected::after {
  visibility: hidden;
}
.cd-headline.type .cd-words-wrapper.selected b {
  color: #2683FF;
}
.cd-headline.type b {
  visibility: hidden;
}
.cd-headline.type b.is-visible {
  visibility: visible;
}
.cd-headline.type i {
  position: absolute;
  visibility: hidden;
  font-style: normal;
}
.cd-headline.type i.in {
  position: relative;
  visibility: visible;
}

@-webkit-keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@-moz-keyframes cd-pulse {
  0% {
    -moz-transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -moz-transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -moz-transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}
@keyframes cd-pulse {
  0% {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-50%) scale(0.9);
    -moz-transform: translateY(-50%) scale(0.9);
    -ms-transform: translateY(-50%) scale(0.9);
    -o-transform: translateY(-50%) scale(0.9);
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
}


/* -------------------------------- 

Intro

-------------------------------- */

.intro {
	padding: 5em 0 6em;
	background: url("../img/bg-intro.jpg") center bottom no-repeat;
	background-size: 100%;
}

.intro-security {
	display: block;
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}

.intro h1, .intro p {
	max-width: 400px;
	margin: 1.2em auto 0;
}

.intro p {
	font-size: 15px;
	line-height: 1.6em;
	text-align: justify;
}


/* -------------------------------- 

Why

-------------------------------- */

.why {
	padding: 5em 0 7em;
	background-color: #2683FF;
	background-image: url(../img/why5.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.why img {
	max-height: 200px;
	display: inline-block;
	margin-top: 2.5em;
}
.why h2 {
	color: #fff;
}
.why p {
	color: #fff;
	font-size: 14px;
	display: block;
}
.why-title {
	display: block;
	background: rgba(255, 255, 255, 0.13);
	border: 1px dashed rgba(255, 255, 255, 0.38);
	color: #fff;
	font-family: 'Avenir Next LT Pro Bold';
	border-radius: 4px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 2.5em;
	width: 150px;
	text-align: center;
	margin: 2em auto 1.5em;
}
.why-subtitle {
	max-width: 280px;
	margin: 0 auto;
}

/* -------------------------------- 

Value Propositions

-------------------------------- */

.value {
	padding: 1.5em 0;
	border-bottom: 1px solid #E7E9EA;
}
.value h4 {
	text-transform: uppercase;
	font-family: 'Avenir Next LT Pro Bold';
	letter-spacing: 0;
	margin-top: 1em;
}
.value p {
	text-transform: uppercase;
	font-size: 12px;
	padding-bottom: 0.4em;
}
.value img {
	height: 52px;
	margin-top: 1em;
}

/* -------------------------------- 

Traction

-------------------------------- */

.traction {
	padding: 3em 0;
	border-top: 1px solid #E7E9EA;
	border-bottom: 1px solid #E7E9EA;
}
.traction span{
	text-transform: uppercase;
	font-family: 'Avenir Next LT Pro Bold';
	letter-spacing: 0;
}
.traction img {
	width: 62px;
	margin-top: 0.5em;
}
.storage-tb {
	display: none;
}



/* -------------------------------- 

Pricing

-------------------------------- */

.section {
	padding: 4em 0 5em;
	background: #f5f7f9;
}
.section h1 {
	margin-bottom: 26px;
}
.plans {
	margin: 1em auto;
}
.plan {
	background: #fff;
	border: 2px solid #eee;
	margin: 2em 0;
	border-radius: 5px;
}
.plan-title {
	line-height: 4em;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	margin-bottom: 0;
	border-bottom: 1px solid #eee;
}
.plan-pricing {
    font-family: 'Avenir Next LT Pro Bold';
    letter-spacing: 0;
    line-height: 2em;
    font-size: 42px;
    margin-bottom: 16px;
    margin-top: 16px;
    padding-bottom: 42px;
    border-bottom: 1px solid #eee;
}
.plan-pricing span {
	display: block;
	letter-spacing: 0;
    font-size: 18px;
    line-height: 0;
    background: #fff;
}
.plan-pricing select {
	display: inline-block;
	border: 0;
    box-shadow: none;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    width: auto;
    color: #2683FF;
    background: url("../img/icon-dropdown.svg") right no-repeat;
    line-height: 1.6em;
    font-size: 72px;
    letter-spacing: -4px;
    height: 110px;
    cursor: pointer;
    padding-right: 30px;
    padding-left: 26px;
    appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
}
.plan-pricing select:focus {
	outline: 0;
	box-shadow: none;
}
.plan-pricing select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #2683ff;
}
.plan-pricing select::-ms-expand {
	display: none;
}

.plan h4 {
    line-height: 1.5em;
    padding-top: 2px;
    color: #333;
    letter-spacing: 0;
}
.plan-currency {
	font-family: 'Avenir Next LT Pro Bold';
	font-size: 36px;
	vertical-align: top;
}
.plan-feature-number, .plan-select-storage {
	font-family: 'Avenir Next LT Pro Bold';
    margin-bottom: 1.5em;
}

.plan.recommend {
	border-color: #2683FF;
	margin-top: 16px;
}
.plan.recommend .plan-title {
	background: #2683FF;
	color: #fff;
}
.plan.recommend .plan-pricing {
    color: #2683FF;
    line-height: 1.6em;
    font-size: 72px;
    letter-spacing: -8px;
}
.plan.recommend .plan-pricing span {
	font-size: 24px;
}

.select-arrows {
	display: inline-block;
	vertical-align: middle;
    height: 42px;
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #2683ff;
	margin-bottom: 10px;
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #2683ff;
}

#getStarted {
	margin-bottom: 1em;
}
.get-started-form {
	display: none;
}
.get-started-form input {
	display: inline-block;
	margin: 0;
}
.get-started-form .btn {
	margin: 0;
	margin-left: 10px;
}
.get-started-form .email {
	padding: 11px 20px;
	margin-bottom: 1em;
}


/* -------------------------------- 

Upload Section

-------------------------------- */

.upload {
    margin: 2.5em auto;
    padding: 0 1em;
}
.upload-icons {
	display: inline-block;
	width: 52px;
	margin: 0.75em;
}
.upload-text {
	display: inline-block;
}
.upload h4 {
	text-transform: uppercase;
    font-family: 'Avenir Next LT Pro Bold';
    letter-spacing: 0;
}
.upload-metadisk {
	width: 100%;
	max-width: 460px;
	margin-bottom: 1em;
}

.upload-intro {
	margin-bottom: 3em;
}

/* -------------------------------- 

Contact

-------------------------------- */

.contact {
	background-color: #144EBC;
	background: url("../img/bg-contact.jpg") top center no-repeat;
	background-size: cover;
}
.contact h1 {
	margin-bottom: 0.5em;
	color: #fff;
}
.contact p {
	margin-bottom: 2em;
	color: #fff;
}
input {
	display: block;
	background: #fff;
	border: 2px solid #ddd;
	border-radius: 50px;
	font-size: 15px;
	color: #2683FF;
	padding: 10px 14px 8px;
	margin: 25px auto;
	width: 100%;
	max-width: 320px;
    font-size: 16px;
    font-weight: bold;
}
input:focus{
    outline: 0;
    border-color: #2D86fb;
}
.page input {
	margin: 10px 0;
    border-radius: 3px;
    border-width: 1px;
    max-width: 100%;
    background: #f9f9f9;
}
#publicKeys input {
	margin-top: 20px;
}

::-webkit-input-placeholder {
    color: #2683FF;
}
:focus::-webkit-input-placeholder {
    color: #BAD7FE;
}

/* Firefox < 19 */
:-moz-placeholder {
    color: #2683FF;
}
:focus:-moz-placeholder {
    color: #BAD7FE;
}

/* Firefox > 19 */
::-moz-placeholder {
    color: #2683FF;
}
:focus::-moz-placeholder {
    color: #BAD7FE;
}

/* Internet Explorer 10 */
:-ms-input-placeholder {
    color: #2683FF;
}
:focus:-ms-input-placeholder {
    color: #BAD7FE;
}


/* -------------------------------- 

Footer

-------------------------------- */

footer {
	padding: 2em 0 2.5em;
}
.footer-logo:hover, .footer-logo:focus {
	text-decoration: none;
}
.footer-logo {
	display: block;
	border-bottom: 2px solid #f9f9f9;
	margin-bottom: 0.75em;
}
.footer-logo img {
	width: 120px;
	display: block;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

footer a {
    padding-bottom: 2px;
    line-height: 34px;
    letter-spacing: 0;
    font-size: 14px;
}

footer h4 {
    letter-spacing: 0;
    border-bottom: 2px solid #f9f9f9;
    padding-bottom: 1em;
    margin-top: 1.5em;
    font-size: 16px;
    font-family:'Avenir Next LT Pro Demi';
}
footer .connect {
	margin: 2em auto 1em;
}
footer .connect a {
	padding-right: 1.2em;
	border: 0;
}
.social-link {
	width: 28px;
	margin-right: 0.5em; 
	opacity: 1;
}

.copyright:hover {
	text-decoration: none;
}


/* -------------------------------- 

Buckets

-------------------------------- */

body.page {
	background: #f5f7f9;
	padding-bottom: 3em;
}
.table {
	margin-bottom: 0;
}
.content {
	border: 2px solid #eee;
    background: #fff;
    border-radius: 5px;
    padding: 2em;
    margin-bottom: 2em;
}
label {
	margin-bottom: 0.8em;
}
.table-responsive.content {
	padding: 0;
}
th, td {
	padding: 1.8em !important;
}
.table>thead>tr>th {
    border-bottom: 2px solid #eee;
}
.bucket-plan a {
	font-family: 'Avenir Next LT Pro Demi';
}
.clickable-row {
	cursor: pointer;
}
.btn-create-bucket {
	margin-bottom: 2em;
}

.page .plans {
	margin: 1em -15px 0;
}
.page .plan {
	margin: 0.5em 0;
	cursor: pointer;
}
.page .plan:hover {
	border-color: #2683ff;
}
.page .plan:hover .plan-pricing{
	color: #2683ff;
}
.page .plan:hover h4{
	color: #2683ff;
}
.page .plan-pricing {
	color: #333;
}
.page .plan.selected {
	border-color: #107fc9;
	background: #2683ff;
}
.page .plan.selected .plan-pricing {
	color: #fff;
	border-color: #107fc9;
}
.page .plan.selected h4 {
	color: #fff;
}
.page .plan h4 {
	font-size: 15px;
	line-height: 0.75em;
    padding: 0;
}
.page .btn-block {
    max-width: none;
    padding: 1em;
    border-radius: 3px;
    font-size: 18px;
}



/* -------------------------------- 

Modals

-------------------------------- */

.modal {
	top: 120px;
}

.modal-body {
	padding: 10px 30px;
}

.modal .btn {
	margin: 0;
	margin-bottom: 2em;
}


/* -------------------------------- 

Media Queries

-------------------------------- */


@media all and (max-width: 768px) {
	footer {
		text-align: center;
	}
	.footer-logo img {
		margin: 1em auto 0.1em;
	}
}

@media all and (max-width: 480px) {
	.logo {
    	width: 160px;
	}
	.menu {
		padding: 30px 0;
	}
	.contact form {
		padding: 2em 2em 4em;
	}
	.pricing {
    	padding: 2em 0 4em;
	}
	.plans {
    	margin: 0 auto 1em;
	}
	.traction img {
    	margin-top: 1.5em;
	}
	footer {
		text-align: center;
	}
	footer h4 {
    	margin-top: 3em;
	}
	.footer-logo p {
	    display: block;
	}
	.footer-logo img {
    	margin: 2em auto 0.3em;
	}
}


@media (max-width: 767px) {
    .text-left-xs {
      text-align: left;
    }
    .text-right-xs {
      text-align: right;
    }
    .text-center-xs {
      text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .text-left-sm {
      text-align: left;
    }
    .text-right-sm {
      text-align: right;
    }
    .text-center-sm {
      text-align: center;
    }
    .upload {
		padding: 0;
		margin: 1em auto;
    }
    .upload-metadisk {
    	margin-top: 1em;
    }
    
}

@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-md {
      text-align: left;
    }
    .text-right-md {
      text-align: right;
    }
    .text-center-md {
      text-align: center;
    }
}

@media (min-width: 1200px) {
    .text-left-lg {
      text-align: left;
    }
    .text-right-lg {
      text-align: right;
    }
    .text-center-lg {
      text-align: center;
    }
}
